.container {
  padding: 20px 20px 0;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.card {
  border: 1px solid #ccc;
  width: 170px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.card img {
  width: 150px;
  height: 170px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  margin: auto;
}

.card h3 {
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actions a {
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background: none;
  border: 1px solid #88d415;
  border-radius: 5px;
  color: #88d415;
  width: 50%;
  align-self: center;
}

.actions a:hover {
  background: #f0fff0;
}

.actions button {
  background: none;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  width: 50%;
  font-size: 12px;
  align-self: center;
}

.actions button:hover {
  background: #fff0f0;
}
